<div class="page">
  <div class="pageHeader">
    <h1>Sobre Nós</h1>
    <p id="pSobre">Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialsta em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
  </div>
<body>

  <div id="ContatoDiv">
    <h2 id="Contato">Entre Em Contato Conosco</h2>
    <img mat-card-image src=".\..\assets\images\SobreNos.jpg" id="imagemSobre">
    <div class="botoesCartao">
      <button mat-button>Link Zap</button>
      <button mat-button [routerLink]="['/page/detalheObra']">Link Facebook e Insta</button>
    </div>
  </div>
  <div class="Back">
    <br><br>
    <h2 id="Atendimento">Atendimento ao Cliente</h2>
    <div class="content"> 
      <div>
        <h3 class="h2Hora">Horário</h3>
        <p class="pHora">Segunda a Sexta </p>
        <p class="pHora">Das 7:30 h ás 17:30 h</p>
      </div>
      <div>
        <h3 class="h2Hora">Contato</h3>
        <p class="pHora">Link Whatsapp</p>
        <p class="pHora">email</p>
      </div>
      <br><br><br><br>
    </div>

  </div>  
</body>
</div>
  <footer class="rodape"></footer>