<div class="page">
    <div class="DivHeader">
        <div>
            <img mat-card-image src=".\..\assets\images\servicos.gif" id="SobreImg">
        </div>
        <div class="DivSer">
         <h1 id="Serv">Serviços</h1>
         <br>
        <p class="pServico"><li>Site Profissional para Empresas, personalizado para seu Negócio.</li>
        <li>Logotipo com Design Profissional e de Qualidade para fazer sua Empresa se destacar.</li>
        <li>Criação de Post e Otimização de Páginas para o Facebook e o Instagram com Métodos que Geram mais Engajamento e Visualização.</li></p>
        <br><br>
        </div>
    </div>
  
    <div class="content">
        <div>
            <h2 class="h2Content">Criação de Site Profissional</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\criacaoSite2.gif" id="imagemSobre">
            <p class="TextGrid">Nós desenvolvemos Sites <b>Totalmente Responsivos</b> e <b>100% Personalizados</b> com <b>Layouts Exclusivos</b> para sua Empresa. Com uma aparência Elegante e Moderna é o que irá transmitir Confiança a Seus Visitantes.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20conhecer%20seu%20Servi%C3%A7o%20de%20Cria%C3%A7%C3%A3o%20de%20Site%20!!!" class="botao-wpp" id="Wpp">
                <div class="ContWpp">
                <!-- ícone -->
                    <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                     <i class="BtnWpp">Whatsapp</i>
                </div>
            </a>
        </div>
        <div>
            <h2 class="h2Content">Criação de Logotipo Profissional</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\criacaoLogo.gif" id="imagemSobre">
            <p class="TextGrid">Nossos Logotipos possuem um <b>Design Especial</b> e de <b>Qualidade</b> para fazer seu Negócio se <b>Destacar entre seus Concorrentes</b>. Podendo ter sua Marca de Sucesso em até <b>48 horas</b>.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20conhecer%20seu%20Servi%C3%A7o%20de%20Cria%C3%A7%C3%A3o%20de%20Logo%20Profissional" class="botao-wpp" id="Wpp2">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>
            </a>
            
        </div>
        <div>
            <h2 class="h2Content">Post para Facebook e Instagram</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\post.gif" id="imagemSobre">
            <p class="TextGrid">Uma das Especialidades da Gr Business é o <b>Marketing Digital</b>, fazemos Postagens e Gerenciamos Páginas utilizando Métodos Revolucionários que geram <b>Mais Engajamento</b> e <b>Visualização</b> para suas Páginas e Posts no <b>Facebook</b> e <b>Instagram</b>.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20saber%20sobre%20o%20Servi%C3%A7o%20de%20Posts%20de%20Redes%20Sociais%20!!!!" class="botao-wpp"  id="Wpp3">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>         
            </a>
        </div>
        <div>
            <h2 class="h2Content">Criação de Identidade Visual</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\identidade.gif" id="imagemSobre">
            <p class="TextGrid">A Identidade Visual é a cara da sua Marca e pode fazer toda a diferença para o <b>Sucesso</b> do seu Negócio <b>Digital</b>. Com nossos serviços de Criação de Identidade Visual, você terá uma marca <b>Forte</b> e <b>Memorável</b>, que se Destaca da concorrência.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20saber%20sobre%20o%20Servi%C3%A7o%20de%20Posts%20de%20Redes%20Sociais%20!!!!" class="botao-wpp"  id="Wpp3">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>         
            </a>
        </div>      
    </div>
             
    <footer>
        <div class="footer-content">
            <h3>Gr Business</h3>
            <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo Especialistas em Desenvolvimento de Sites, E-commerces e Design de Logotipos.</p>
            <ul class="socials">
                <li><a href="https://api.whatsapp.com/send?phone=5511988129400"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
                <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
                <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
               <li><a href="mailto:contatogrbusiness@gmail.com"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Gr Business</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                        <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
                        <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfólio</a></li>
                        <li><a [routerLink]="['/processo']" routerLinkActive="active">Processo</a></li>
                        <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
                      </ul>
                    </div>
        </div>
    
    </footer>
  </div>
  