::ng-deep {
    .mat-header-cell {
      color: #000;
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Poppins:wght@200;300;400;600&display=swap');
  
  
  //   .page {
  //     .page-timeline {
  //       width: 100%;
  //     }
  //   }
  .pageHeader{ 
    background-image:url(..\..\..\assets\images\dot.png);
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    margin-left: -20px;
    width: 103.35vw;
    height: 900px;
    margin-top: -25px;
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: grid;
}
.BtnQuero{
    background-color: #ffffff00;
    border: solid 2px #cacacaf7;
    cursor: pointer !important;
    color: white;
    padding: 12px;
    margin-top: 15px;

    
}
.BtnContent{
    color: white;
    padding: 12px;
    margin-top: 15px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 60px;

}
.mat-icon{
margin-top: -2px;
}
#BtnC{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 30px;
    color: #eee;
    font-weight: 500;
    background-color: #14ba41;
    border-radius: 50px;
    display: inline-flex;
}
#BtnC:hover {
    color:  #008437;
    background-color: #e1e1e1;
  }
  
#BtnC:focus {
    color:  #008437;
    background-color: #e1e1e1;
  } 

#BtnQ{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    text-decoration: none;
    padding: 15px;
    color: #eee;
    font-weight: 500;
   

}
.BtnQuero:hover {
    background-color: white;
  }
  
.BtnQuero:focus {
    background-color: darken(white, 5%);
  }  
#BtnQ:hover {
    color:  #008437;
  }
  
#BtnQ:focus {
    color:  #008437;
  } 

  
#GR{
    margin-top: -100px;
    margin-bottom: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    text-shadow: 6px 1px #0b0b0beb;
    padding: 10px;

}
.ImageHome{
    background-image: url(..\..\..\assets\images\Imagem1.png);
    margin-left: -20px;
    width: 102.35vw;
    height: 900px;
    margin-top: -25px;
    background-repeat: no-repeat;
    background-size: cover;
   
}
  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:  1366px;
    margin: 0 auto;
    background-color: rgb(246 243 239);
    height: 2000px;
    margin-top: 75px;
  }
  .content2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:  1366px;
    margin: 0 auto;
    height: 450px;
  }
  
  
  h1{
        font-family: 'Poppins', sans-serif;
        line-height: 1.1em;
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
  
  h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 60px;
    font-size: 32px;
    margin-bottom: 35px;
  }
  
  .rodape{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #203e7e;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    color: #fff;
    position: relative;
    border-top: 5px solid #fff;
    height: 64px;
    letter-spacing: normal;
  }
  
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  
  .parallax {
    /* The image used */
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #Serv{
    background-image: url(..\..\..\assets\images\Imagem2.png);
  }
  #SobreN{
    background-image: url(..\..\..\assets\images\QualidadeImage.jpg);
  }
  #Proced{
    background-image: url(..\..\..\assets\images\QualidadeImage.jpg);
  }
  #Port{
    background-image: url(..\..\..\assets\images\Imagem3.png);
  }
  
  .TextGrid{
    line-height: 1.7em;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.01em;
    padding: 102px;
    margin-top: -108px;
    font-family: 'Montserrat', sans-serif;
  }
  .botoesCartao{
    width: 345px;
    margin-top: 20px;
  }
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #008437;
    height: auto;
    width: 99.35vw;
    position: inherit;
    margin-top: 100px;
    padding-top: 40px;
    color: #fff;
    margin-left: -20px;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 15px;
    line-height: 28px;
    font-size: 14px;
    color: #ffffff;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    padding: 5px;
    display: block;
    color: white;
  
  }
  .socials a i{
    font-size: 14px;
    display: block;
    text-align: center;
    margin-left:-2px;
  
  
    transition: color .4s ease;
  
  }
  .socials a:hover i{
    color: rgb(233, 195, 6);
  }
  
  .footer-bottom{
    background: #013912;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
  float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
  color:rgb(233, 195, 6);
  font-size: 16px;
  text-decoration: none;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  .footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  padding-right: 15px;
  display: block;
  }
  .footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: rgb(233, 195, 6);
  }
  
  
  @media (max-width:700px) {
  .footer-menu ul{
  display: flex;
  margin-top: 10px;
  }
  .footer-menu{
    font-size: 14px;
    display: -webkit-inline-box;
    float: none;
    }
  
  .footer-bottom{
    background: #013912;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    height: 30px;
    float: initial;
  }
  .footer-bottom p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
      float: inherit;
    }
  
  
  }
  @media only screen and (max-device-width: 900px) {

    .content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 1366px;
        margin: 0 auto;
        background-color: #f6f3ef;
        text-align: center;
        margin-top:40px;
    }
    .MobileImg{
        margin-bottom: -120px;
        height: 60vw;
        width: 500px;
        object-fit: cover;
        max-width: calc(100% - 20px);
        border-radius: 23px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 13%);
        margin-top: 15px;
  }
  .parallax{
      display: none;
  }
}
  @media only screen and(min-device-width: 901px) {
    .parallax {
      background-attachment: scroll;
    }
    .content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width:  1366px;
        margin: 0 auto;
        background-color: rgb(246 243 239);
        height: 1500px;
        margin-top: 70px;
    }
    .parallax {
        /* The image used */
      
        /* Set a specific height */
        min-height: 400px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .MobileImg{
        display: none;;
    }
  }
  