<div class="page">
  <div class="ImageHome">
    <div class="pageHeader"> 
      <h1 id="GR">GR BUSINESS</h1>
      <div class="BtnQuero">
        <a [routerLink]="['/page/servicos']" routerLinkActive="active" id="BtnQ">QUERO CONHECER</a>
      </div>
    </div>
  </div>
<body>
  <div class="content">

    <div>
      <img mat-card-image src=".\..\assets\images\QualidadeImage.jpg" class="MobileImg">
      <h2 class="H2C">Nossos Serviços</h2>
      <p class="TextGrid">omos uma Empresa Especializada em fazer a seu Negócio Crescer no Meio Digital, com meios inovadores e funcionais atráves de nossos serviços de Criação de  Sites, Logos e Post, além disso possuimos profissionais experts em aperfeiçoar suas vendas atráves da Otimização do Google Bussiness, Páginas do Facebook e Instagram</p>
      <div class="BtnContent">
        <a [routerLink]="['/page/servicos']" routerLinkActive="active" id="BtnC">QUERO CONHECER<mat-icon>keyboard_arrow_right</mat-icon></a>
      </div>
    </div>
    <div class="parallax" id="Serv"></div>
    <img mat-card-image src=".\..\assets\images\QualidadeImage.jpg" class="MobileImg">

    <div class="parallax" id="Port"></div>
    <div>
      <img mat-card-image src=".\..\assets\images\QualidadeImage.jpg" class="MobileImg">
      <h2 class="H2C">Nosso Portfólio</h2>
      <p class="TextGrid">A Gr Business tem estudado e aprimorado durante anos seu sistema de Consulta de Otimização de Motores de Busca do Google, sendo atualmente pioneira nessa área, com dados mostrando um ótimo resultado nas Vendas e Prestação de Serviços de Nossos Clientes, como Grandes Construtoras, Empresas de Jogos Digitais e Micro Empreendedores Locais</p>
      <div class="BtnContent">
        <a [routerLink]="['/page/servicos']" routerLinkActive="active" id="BtnC">NOSSA TRAJETÓRIA<mat-icon>keyboard_arrow_right</mat-icon></a>
      </div>
    </div>

  </div>
  <!-- <div class="content2">
    <div class="parallax" id="SobreN">
      <a class="TextSobre">Sobre Nós</a>
    </div>
    <div class="parallax" id="Proced">
      <a class="TextProced">Conheça nossos Procedimentos </a>
    </div>
  </div> -->
</body>
<footer>
  <div class="footer-content">
      <h3>Gr Business</h3>
      <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialsta em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
      <ul class="socials">
       <li><a href="#"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
          <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
          <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
         <li><a href="#"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Gr Business</a>  </p>
              <div class="footer-menu">
                <ul class="f-menu">
                  <li><a [routerLink]="['/page/home']" routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/page/servicos']" routerLinkActive="active">Serviços</a></li>
                  <li><a [routerLink]="['/page/portfolio']" routerLinkActive="active">Portfólio</a></li>
                  <li><a [routerLink]="['/page/processo']" routerLinkActive="active">Processo</a></li>
                  <li><a [routerLink]="['/page/contato']" routerLinkActive="active">Contato</a></li>
                </ul>
              </div>
  </div>

</footer>