::ng-deep {
    .mat-header-cell {
      color: #000;
      font-size: 14px;
      font-weight: bold;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;200&family=Poppins:wght@600&display=swap');

//   .page {
//     .page-timeline {
//       width: 100%;
//     }
//   }
.pageHeader{ 
    border-bottom: 1px solid #e0e0e0;
    background-color: #fdfdfd;
    padding: 10px 20px;
    position: relative;
    line-height: 36px;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:  1366px;
    margin: 0 auto;
    background-color: rgb(246 243 239);
    height: 2000px;
}

hr{
    position: relative;
    margin: 12px 0px 36px calc((100% - 490px) * 0.5);
    left: 230px;
    justify-self: start;
    align-self: start;
    height: 1px;
    width: 22px;
    background-color: rgb(17,17,17);
    border-color: rgb(17,17,17);
}
h1{
        font-family:  'Poppins', sans-serif;
        line-height: 1.1em;
        text-align: center;
        font-size: 48px;
        font-weight: 700;;
        letter-spacing: 0.1em;
}
    


h2{
    text-align: center;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 179px;
    font-size: 32px;
    margin-bottom: 35px;
    letter-spacing: 0.2em;

}

.rodape{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #203e7e;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    color: #fff;
    position: relative;
    border-top: 5px solid #fff;
    height: 64px;
    letter-spacing: normal;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  
.parallax {
    /* The image used */
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#Qualidade{
    background-image: url(..\..\..\assets\images\QualidadeImage.jpg);
}
#Design{
    background-image: url(..\..\..\assets\images\DesignImage.jpg);
}
#Tecnologia{
    background-image: url(..\..\..\assets\images\TecnologiaImage.jpg);
}
.TextGrid{
    line-height: 1.7em;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.01em;
    padding: 102px;
    margin-top: -108px;
    font-family: 'Montserrat', sans-serif;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 102%;
    position: inherit;
    margin-top: 100px;
    padding-top: 40px;
    color: #fff;
    margin-left: -20px;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 15px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    padding: 5px;
    display: block;
  
  }
  .socials a i{
    font-size: 14px;
    display: block;
    text-align: center;
    margin-left:-2px;
  
  
    transition: color .4s ease;
  
  }
  .socials a:hover i{
    color: rgb(45, 208, 88);
  }
  
  .footer-bottom{
    background: #000;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
  float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  .footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  padding-right: 15px;
  display: block;
  }
  .footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: #27bcda;
  }
  
  
  @media (max-width:700px) {
  .footer-menu ul{
  display: flex;
  margin-top: 10px;
  }
  .footer-menu{
    font-size: 14px;
    display: -webkit-inline-box;
    float: none;
    }
  
  .footer-bottom{
    background: #000;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    height: 30px;
    float: initial;
  }
  .footer-bottom p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
      float: inherit;
    }


  }

