::ng-deep {
    .mat-header-cell {
      color: #000;
      font-size: 14px;
      font-weight: bold;
    }
  }


//   .page {
//     .page-timeline {
//       width: 100%;
//     }
//   }
.pageHeader{ 
    border-bottom: 1px solid #e0e0e0;
    background-color: #fdfdfd;
    padding: 10px 20px;
    position: relative;
    line-height: 36px;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:  1366px;
    margin: 0 auto;
    background-color: rgb(246 243 239);
    height: 2000px;
}

hr{
    position: relative;
    margin: 12px 0px 36px calc((100% - 490px) * 0.5);
    left: 230px;
    justify-self: start;
    align-self: start;
    height: 1px;
    width: 22px;
    background-color: rgb(17,17,17);
    border-color: rgb(17,17,17);
}
h1{
        font: var(--font_0);
        line-height: 1.1em;
        text-align: center;
        font-size: 42px;
        font-weight: 700;;
    }

h2{
    text-align: center;
    font-family: 'Nunito Sans';
    font-weight: 700;
    margin-top: 179px;
    font-size: 32px;
    margin-bottom: 35px;
}

.rodape{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #203e7e;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    color: #fff;
    position: relative;
    border-top: 5px solid #fff;
    height: 64px;
    letter-spacing: normal;
}

@media only screen and (max-device-width: 3000px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  
.parallax {
    /* The image used */
    
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Qualidade{
    background-image: url(..\..\..\assets\images\QualidadeImage1.jpg);
}
#Design{
    background-image: url(..\..\..\assets\images\DesignImage1.jpg);
}
#Tecnologia{
    background-image: url(..\..\..\assets\images\TecnologiaImage1.jpg);
}
.TextGrid{
    color: rgb(var(--color_15));
    line-height: 1.7em;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.01em;
    padding: 102px;
    margin-top: -108px;
    font-family: Verdana;
}