<div class="page">
    <div class="pageHeader">
      <h1>O Processo</h1>
      </div>
  <body>
    <div class="content">

      <div>
        <h2>Qualidade</h2>
        <hr>
        <p class="TextGrid">Prestamos Serviços com extremo foco e dedicação, sempre colocando a Qualidade em Primeiro Lugar</p>
      </div>
      <div class="parallax" id="Qualidade"></div>
      <div class="parallax" id="Design"></div>
      <div>
        <h2>Design</h2>
        <hr>
        <p class="TextGrid">Buscamos sempre aprimorarar nossos Métodos e Artes oferecendo Serviços com os Melhores Designs do Mercado</p></div>
      <div>
         <h2>Tecnologia</h2>
        <hr>
        <p class="TextGrid">Utilizamos em nossos Serviços as Melhores Tecnologias e Softwares Disponiveis no Mercado</p></div>
        <div class="parallax" id="Tecnologia"></div>
    
    </div>


  



  </body>
  </div>
  <footer class="rodape"></footer>