<div class="page">
    <h1>Nosso <b class="bPort">Portfólio</b></h1>
    <p class="pPort">Conheça alguns dos nossos projetos que foi feito recentemente por nós!</p>
    <b class="bPort" id="b">Queremos você aqui também!</b>
</div>
<body>
  <div class="content">
      <div>
          <img mat-card-image src=".\..\assets\images\mountains.jpg" id="imagemSobre">
          <p class="pDesc">Criação de Site</p>
          <h2 class="h2Port">Hefesto Steel Frame</h2>
          <p class="pTipo">Construtora de Steel Frame</p>
      </div>
      <div>         
        <img mat-card-image src=".\..\assets\images\mountains.jpg" id="imagemSobre">
        <p class="pDesc">Desenvolvimento de Artes</p>
        <h2 class="h2Port">Ballkour 2D</h2>
        <p class="pTipo">Jogo de Casual de Celular</p>
      </div>
      <div>         
        <img mat-card-image src=".\..\assets\images\mountains.jpg" id="imagemSobre">
        <p class="pDesc">Criação de Logotipo</p>
        <h2 class="h2Port">Dethrone Entertainment</h2>
        <p class="pTipo">Desenvolvedora de Aplicativos</p>
      </div>
  </div>
</body>
<footer class="rodape"></footer>