<div class="page">
    <h1>Nosso <b class="bPort">Portfólio</b></h1>
    <p class="pPort">Conheça alguns dos nossos projetos que foi feito recentemente por nós!</p>
    <b class="bPort" id="b">Queremos você aqui também!</b>
</div>
<body>
  <div class="content">
      <div>
          <img mat-card-image src=".\..\assets\images\Hefesto.png" id="imagemSobre">
          <p class="pDesc">Criação de Site</p>
          <h2 class="h2Port">Hefesto Steel Frame</h2>
          <p class="pTipo">Construtora de Steel Frame</p>
      </div>
      <div>         
        <img mat-card-image src=".\..\assets\images\Ballkour.png" id="imagemSobre">
        <p class="pDesc">Desenvolvimento de Artes</p>
        <h2 class="h2Port">Ballkour 2D</h2>
        <p class="pTipo">Jogo de Casual de Celular</p>
      </div>
      <div>         
        <img mat-card-image src=".\..\assets\images\LogoDT.png" id="imagemSobre">
        <p class="pDesc">Criação de Logotipo</p>
        <h2 class="h2Port">Dethrone Entertainment</h2>
        <p class="pTipo">Desenvolvedora de Aplicativos</p>
      </div>
  </div>
</body>
<footer>
  <div class="footer-content">
      <h3>Gr Business</h3>
      <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialsta em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
      <ul class="socials">
       <li><a href="#"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
          <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
          <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
         <li><a href="#"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Gr Business</a>  </p>
              <div class="footer-menu">
                <ul class="f-menu">
                  <li><a [routerLink]="['/page/home']" routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/page/servicos']" routerLinkActive="active">Serviços</a></li>
                  <li><a [routerLink]="['/page/portfolio']" routerLinkActive="active">Portfólio</a></li>
                  <li><a [routerLink]="['/page/processo']" routerLinkActive="active">Processo</a></li>
                  <li><a [routerLink]="['/page/contato']" routerLinkActive="active">Contato</a></li>
                </ul>
              </div>
  </div>

</footer>