<div class="page">
  <div class="pageHeader">
    <h1>Gr Business</h1>
    <div class="botoesCartao">
      <button mat-button>Quero Conhecer</button>
    </div>
  </div>
<body>
  <div class="content">

    <div>
      <h2>Nossos Serviços</h2>
      <p class="TextGrid">omos uma Empresa Especializada em fazer a seu Negócio Crescer no Meio Digital, com meios inovadores e funcionais atráves de nossos serviços de Criação de  Sites, Logos e Post, além disso possuimos profissionais experts em aperfeiçoar suas vendas atráves da Otimização do Google Bussiness, Páginas do Facebook e Instagram</p>
      <div class="botoesCartao">
        <button mat-button>Quero Conhecer</button>
      </div>
    </div>
    <div class="parallax" id="Serv"></div>
    <div class="parallax" id="Port"></div>
    <div>
      <h2>Nosso Portfólio</h2>
      <p class="TextGrid">A Gr Business tem estudado e aprimorado durante anos seu sistema de Consulta de Otimização de Motores de Busca do Google, sendo atualmente pioneira nessa área, com dados mostrando um ótimo resultado nas Vendas e Prestação de Serviços de Nossos Clientes, como Grandes Construtoras, Empresas de Jogos Digitais e Micro Empreendedores Locais</p>
      <div class="botoesCartao">
        <button mat-button>Conheça nossa Trajetória</button>
      </div>
    </div>
  
  </div>

  <div class="content2">
  <div class="parallax" id="SobreN">
   <p class="TextSobre"> <a>Sobre Nós</a></p>
  </div>
  <div class="parallax" id="Proced">
    <p class="TextProced"><a>Conheça nossos Procedimentos </a></p>
   </div>
</div>
</body>
</div>
<footer>
  <div class="footer-content">
      <h3>Gr Business</h3>
      <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialsta em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Gr Business</a>  </p>
              <div class="footer-menu">
                <ul class="f-menu">
                  <li><a href="">Home</a></li>
                  <li><a href="">Serviços</a></li>
                  <li><a href="">Portfólio</a></li>
                  <li><a href="">Processo</a></li>
                  <li><a href="">Contato</a></li>
                </ul>
              </div>
  </div>

</footer>