<div class="page">
    <div class="ImageHome">
      <div class="pageHeader"> 
        <h1 id="GR">GR BUSINESS</h1>
          <p class="introText">
            Oferecemos desenvolvimento de sites profissionais com programação personalizada que resulta em aumento de visitas ao site, conversões, vendas e lucratividade para sua empresa. Conte conosco para criar uma presença online forte e eficaz para sua marca.
          </p>
        <div class="BtnQuero">
          <a [routerLink]="['/servicos']" routerLinkActive="active" id="BtnQ">QUERO CONHECER</a>
        </div>
      </div>
    </div>
  <body>
    <div class="content">
  
      <div>
        <img mat-card-image src=".\..\assets\images\ServHome.jpg" class="MobileImg">
        <h2 class="H2C">Nossos Serviços</h2>
        <p class="TextGrid">Nós oferecemos uma ampla gama de serviços de desenvolvimento web, incluindo a criação de sites institucionais e lojas virtuais. Nossos sites institucionais são projetados para refletir a identidade da sua empresa. Já as lojas virtuais que criamos são projetadas para oferecer uma experiência de compra online intuitiva e fácil de usar, permitindo que sua empresa venda produtos e serviços para um público ainda maior.</p>
        <div class="BtnContent">
          <a [routerLink]="['/servicos']" routerLinkActive="active" id="BtnC">QUERO CONHECER<mat-icon>keyboard_arrow_right</mat-icon></a>
        </div>
      </div>
      <div class="parallax" id="Serv"></div>
      <div class="parallax2" id="Port"></div>
      <div>
        <img mat-card-image src=".\..\assets\images\PortHome.png" class="MobileImg">
        <h2 class="H2C">Nosso Portfólio</h2>
        <p class="TextGrid">Nossos projetos incluem uma ampla variedade de sites e aplicativos, desde sites institucionais até soluções de comércio eletrônico e aplicativos móveis para grandes empresas. Nosso objetivo é fornecer soluções personalizadas que atendam às necessidades específicas de nossos clientes e ajudem a impulsionar seu sucesso online.</p>
        <div class="BtnContent">
          <a [routerLink]="['/servicos']" routerLinkActive="active" id="BtnC">NOSSA TRAJETÓRIA<mat-icon>keyboard_arrow_right</mat-icon></a>
        </div>
      </div>
  
    </div>
    <!-- <div class="content2">
        <div class="MobileImg2" id="">
          <a [routerLink]="['/contato']" routerLinkActive="active">
            <div class="linkCard">
              <p class="LinkS">Sobre Nós</p>
            </div>    
          </a>
        </div>

        <div class="MobileImg3" id="">
          <a [routerLink]="['/processo']" routerLinkActive="active">
            <div class="linkCard">
              <p class="LinkS2">Nossos Procedimentos </p>
            </div>
          </a>
        </div>
  </div> -->
  </body>
  <footer>
    <div class="footer-content">
        <h3>Gr Business</h3>
        <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo Especialistas em Desenvolvimento de Sites, E-commerces e Design de Logotipos.</p>
        <ul class="socials">
         <li><a href="https://api.whatsapp.com/send?phone=5511988129400"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
            <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
            <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
           <li><a href="mailto:contatogrbusiness@gmail.com"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">Gr Business</a>  </p>
                <div class="footer-menu">
                  <ul class="f-menu">
                    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                    <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
                    <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfólio</a></li>
                    <li><a [routerLink]="['/processo']" routerLinkActive="active">Processo</a></li>
                    <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
                  </ul>
                </div>
    </div>
  
  </footer>
