<mat-toolbar  class="mat-toolbar">
<div class="content123">
  <div id="logo">
  <span ><img src="/assets/grbusiness.svg" alt="" srcset="" /></span>
</div>
<div class="Header">
  <a [routerLink]="['/page/home']" routerLinkActive="active" mat-icon-button class="menu-item">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a [routerLink]="['/page/servicos']" routerLinkActive="active" mat-icon-button class="menu-item">
    <mat-icon>assessment</mat-icon>
    <span>Serviços</span>
  </a>
  <a [routerLink]="['/page/portfolio']" routerLinkActive="active" mat-icon-button class="menu-item">
    <mat-icon>assignment</mat-icon>
    <span>Portfólio</span>
  </a>
  <a [routerLink]="['/page/processo']" routerLinkActive="active" mat-icon-button class="menu-item">
    <mat-icon>computer</mat-icon>
    <span>Processo</span>
  </a>
  <a [routerLink]="['/page/contato']" routerLinkActive="active" mat-icon-button class="menu-item">
    <mat-icon>contact_mail</mat-icon>
    <span>Contato</span>
  </a>
</div>
</div>
 
 
</mat-toolbar>
<!-- <div class="disposicaoPagina"> -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>
  
<!-- </div> -->
