mat-toolbar {
    justify-content: space-between;
}


.imagemCard{
    object-fit: cover;
}

.botoesCartao{
    display: grid;
    grid-auto-flow: column;
    color: darkgoldenrod;
}

.TextGrid{
    font-size: 18px;
    font-family: "Nunito Sans";
    text-decoration: none;
    font-weight: 600;
    

}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    grid-gap: 50px;
 
    

}

