<div class="page">
    
    <img mat-card-image src=".\..\assets\images\ServImage.jpg" id="SobreImg">
    <div class="DivSer">
      <h1 id="Serv">Serviços</h1>
      <br>
      <p class="pServico">Site Profissional para Empresas personalizado para seu Negócio.<br>
        Logotipo com Design Profissional e de Qualidade para fazer sua Empresa se destacar.<br>  
        Personalizamos o seu Google Business gerando mais Interesse para o seu Público Digital.<br>
        Criação de Post e Otimização de Páginas para o Facebook e o Instagram com Métodos que Geram mais Engajamento e Visualização</p>
        <br><br>
    </div>
  
    <div class="content">
        <div>
            <h2 class="h2Content">Criação de Site Profissional</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\Site.jpg" id="imagemSobre">
            <p class="TextGrid">Nos desenvolvemos sites seguindo todas as diretrizes e critérios impostos pelo Google, gerando um melhor ranqueamento do Google para seu Negócio, além de ser Totalmente Responsivo e 100% Personalizado com Layouts exclusivos para sua Empresa. Com uma aparência bonita e moderna é o que irá transmitir confiança a seus visitantes.</p>
            <a href="whatsapp://send?text=Link pra um artigo ó https://google.com" class="botao-wpp">
                <div class="ContWpp">
                <!-- ícone -->
                    <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                     <i class="BtnWpp">Whatsapp</i>
                </div>
            </a>
        </div>
        <div>
            <h2 class="h2Content">Criação de Logotipo Profissional</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\Logo.jpg" id="imagemSobre">
            <p class="TextGrid">Nossos Logotipo possuem um Design Especial e de Qualidade para fazer seu negócio se destacar entre seus Concorrentes.Podendo ter sua Marca de Sucesso em até 48 horas.</p>
            <a href="whatsapp://send?text=Link pra um artigo ó https://google.com" class="botao-wpp" id="Wpp2">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>
            </a>
            
        </div>
        <div>
            <h2 class="h2Content">Otimização do Google Business</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\Google.png" id="imagemSobre">
            <p class="TextGrid">Somos Consultor de Otimização de Motores de Busca do Google, Realizamos Procedimentos Para Melhorar a Visibilidade do seu Negócio na Internet.Atráves do Google Business Aperfeiçoamos a Quantidade de Informações e Ranqueamento da Sua Empresa no Google.</p>
            <a href="whatsapp://send?text=Link pra um artigo ó https://google.com" class="botao-wpp" id="Wpp3">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>     
            </a>
        </div>
        <div>
            <h2 class="h2Content">Post para Facebook e Instagram</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\FaceInsta.jpg" id="imagemSobre">
            <p class="TextGrid">Uma das Especialidades da Gr Business é o Marketing Digital, fazemos Post e Gerenciamos Utilizando Métodos Revolucionários que Geram Mais Engajamento e Visualização para suas Páginas e Post no Facebook e Instagram.</p>
            <a href="whatsapp://send?text=Link pra um artigo ó https://google.com" class="botao-wpp">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>         
            </a>
        </div>     
    </div>
             
    <footer>
        <div class="footer-content">
            <h3>Gr Business</h3>
            <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialsta em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
            <ul class="socials">
             <li><a href="#"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
                <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
                <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
               <li><a href="#"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Gr Business</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">Serviços</a></li>
                        <li><a href="">Portfólio</a></li>
                        <li><a href="">Processo</a></li>
                        <li><a href="">Contato</a></li>
                      </ul>
                    </div>
        </div>
    
    </footer>
  </div>
  