<div class="page">
    <div class="DivHeader">
        <img mat-card-image src=".\..\assets\images\ServImage.jpg" id="SobreImg">
        <div class="DivSer">
         <h1 id="Serv">Serviços</h1>
         <br>
        <p class="pServico">Site Profissional para Empresas personalizado para seu Negócio.<br>
        Logotipo com Design Profissional e de Qualidade para fazer sua Empresa se destacar.<br>  
        Personalizamos o seu Google Business gerando mais Interesse para o seu Público Digital.<br>
        Criação de Post e Otimização de Páginas para o Facebook e o Instagram com Métodos que Geram mais Engajamento e Visualização</p>
        <br><br>
        </div>
    </div>
  
    <div class="content">
        <div>
            <h2 class="h2Content">Criação de Site Profissional</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\Site.jpg" id="imagemSobre">
            <p class="TextGrid">Nos desenvolvemos <b>Sites</b> seguindo todas as <b>Diretrizes</b> e <b>Critérios</b> impostos pelo <b>Google</b>, gerando um melhor <b>Ranqueamento do Google</b> para seu <b>Negócio</b>, além de ser Totalmente <b>Responsivo</b> e <b>100% Personalizado</b> com <b>Layouts Exclusivos</b> para sua <b>Empresa</b>. Com uma aparência <b>Bonita</b> e <b>Moderna</b> é o que irá transmitir <b>Confiança a Seus Visitantes</b>.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20conhecer%20seu%20Servi%C3%A7o%20de%20Cria%C3%A7%C3%A3o%20de%20Site%20!!!" class="botao-wpp">
                <div class="ContWpp">
                <!-- ícone -->
                    <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                     <i class="BtnWpp">Whatsapp</i>
                </div>
            </a>
        </div>
        <div>
            <h2 class="h2Content">Criação de Logotipo Profissional</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\Logo.jpg" id="imagemSobre">
            <p class="TextGrid">Nossos <b>Logotipo</b> possuem um <b>Design Especial</b> e de <b>Qualidade</b> para fazer seu <b>Negócio</b> se <b>Destacar entre seus Concorrentes</b>.Podendo ter sua <b>Marca de Sucesso</b> em até <b>48 horas</b>.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20conhecer%20seu%20Servi%C3%A7o%20de%20Cria%C3%A7%C3%A3o%20de%20Logo%20Profissional" class="botao-wpp" id="Wpp2">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>
            </a>
            
        </div>
        <div>
            <h2 class="h2Content">Otimização do Google Business</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\Google.png" id="imagemSobre">
            <p class="TextGrid">Somos <b>Consultor de Otimização de Motores de Busca do Google</b>, Realizamos <b>Procedimentos</b> Para <b>Melhorar</b> a <b>Visibilidade</b> do seu <b>Negócio na Internet</b>.Atráves do <b>Google Business</b> Aperfeiçoamos a <b>Quantidade de Informações</b> e <b>Ranqueamento</b> da Sua <b>Empresa no Google</b>.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20saber%20sobre%20o%20Servi%C3%A7o%20de%20Otimiza%C3%A7%C3%A3o%20do%20Google%20Business" class="botao-wpp" id="Wpp3">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>     
            </a>
        </div>
        <div>
            <h2 class="h2Content">Post para Facebook e Instagram</h2>
            <hr class="hrContent">
            <img mat-card-image src=".\..\assets\images\FaceInsta.jpg" id="imagemSobre">
            <p class="TextGrid">Uma das <b>Especialidades</b> da <b>Gr Business</b> é o <b>Marketing Digital</b>, fazemos <b>Post</b> e <b>Gerenciamos Páginas</b> utilizando <b>Métodos Revolucionários</b> que geram <b>Mais Engajamento</b> e <b>Visualização</b> para suas <b>Páginas</b> e <b>Post</b> no <b>Facebook</b> e <b>Instagram</b>.</p>
            <a href="https://api.whatsapp.com/send?phone=5511988129400&text=Quero%20saber%20sobre%20o%20Servi%C3%A7o%20de%20Posts%20de%20Redes%20Sociais%20!!!!" class="botao-wpp"  id="Wpp4">
                <div class="ContWpp">
                    <!-- ícone -->
                        <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" >
                         <i class="BtnWpp">Whatsapp</i>
                </div>         
            </a>
        </div>     
    </div>
             
    <footer>
        <div class="footer-content">
            <h3>Gr Business</h3>
            <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialsta em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
            <ul class="socials">
             <li><a href="https://api.whatsapp.com/send?phone=5511988129400"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
                <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
                <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
               <li><a href="mailto:contatogrbusiness@gmail.com"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Gr Business</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a [routerLink]="['/page/home']" routerLinkActive="active">Home</a></li>
                        <li><a [routerLink]="['/page/servicos']" routerLinkActive="active">Serviços</a></li>
                        <li><a [routerLink]="['/page/portfolio']" routerLinkActive="active">Portfólio</a></li>
                        <li><a [routerLink]="['/page/processo']" routerLinkActive="active">Processo</a></li>
                        <li><a [routerLink]="['/page/contato']" routerLinkActive="active">Contato</a></li>
                      </ul>
                    </div>
        </div>
    
    </footer>
  </div>
  